name: Test

on:
   push:
      branches: ['main', 'dev']
   pull_request:
      branches: ['main', 'dev']

permissions:
   contents: read

jobs:
   test:
      runs-on: ubuntu-latest

      steps:
         - name: Setup repo
           uses: actions/checkout@v4

         - name: Setup Deno
           uses: denoland/setup-deno@v2
           with:
              deno-version: v2.x

         - name: Verify formatting
           run: deno fmt --check

         - name: Run check
           run: deno task check

         - name: Run linter
           run: deno lint

         - name: Run tests
           run: deno test -A
